<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Tracker Home</title>

    <!-- External Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">YouTube Tracker Home</h1>

    <!-- Card for Tracker Manager -->
    <div class="card mb-3">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 class="card-title">Tracker Manager</h5>
                <p class="card-text">
                    此功能可讓您只需輸入url網址，就能輕鬆管理和追蹤 YouTube 頻道和播放清單。 您可以切換追蹤標記並執行與追蹤內容相關的各種操作。
                </p>
            </div>
            <a href="{{ url_for('tracker_manager') }}" class="btn btn-primary ml-auto">Go to Tracker Manager</a>
        </div>
    </div>    
    <!-- Card for Download Manager -->
    <div class="card mb-3">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 class="card-title">Download Manager</h5>
                <p class="card-text">
                    這個功能允許您選擇一個資料夾作為下載目的地，同步最新的播放清單內容，並下載已追蹤的影片到指定資料夾中。
                </p>
            </div>
            <a href="{{ url_for('download_manager') }}" class="btn btn-primary ml-auto">Go To Download Manager</a>
        </div>
    </div>

</div>

<!-- External Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>