<!-- tracker_manager.html -->
{% extends "base.html" %}

{% block title %}YouTube Playlist Tracker{% endblock %}

{% block content %}
    <h1 class="mb-4">YouTube Playlist Tracker</h1>

    <form method="POST" id="InputForm">
        <div class="mb-3">
            <label for="url" class="form-label">YouTube URL:</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="例如: https://www.youtube.com/@Ado1024/playlists">
        </div>
        <button type="button" class="btn btn-primary" onclick="showLoading()">Add</button>
    </form>
    <!-- Display DataBase -->
    <div class="mt-5">
        <h2>YouTube's Tracker</h2>
        {% for channel in channels %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center position-relative" data-bs-toggle="collapse" data-bs-target="#playlist{{ loop.index }}" aria-expanded="true" aria-controls="playlist{{ loop.index }}">
                    <a href="{% if channel["id"].startswith("@") %}{{"https://www.youtube.com/"+channel["id"]}}{% else %}{{ "https://www.youtube.com/channel/"+channel["id"]}}{% endif %}" style="flex: 1;" target="_blank">
                        <strong style="font-size: 2em;font-weight: bold;">{{ channel['name'] }}</strong>
                    </a>
                    <div class="col-auto">
                        <button class="btn btn-link" type="button">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                    <div class="col-auto">
                        <!-- Add "Track All" button -->
                        <form method="POST" action="/track_all" class="d-flex align-items-center">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-success">追蹤全部</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <!-- Add "Untrack All" button -->
                        <form method="POST" action="/untrack_all" class="d-flex align-items-center">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-danger">取消追蹤全部</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <!-- Add "Delete Channel" button with confirmation -->
                        <form method="POST" action="/delete_channel" class="d-flex align-items-center" onsubmit="return confirm('確定要刪除這個 Channel 嗎？');">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-warning">刪除</button>
                        </form>
                    </div>
                </div>
                
                <div class="collapse show" id="playlist{{ loop.index }}">
                    <ul class="list-group list-group-flush">
                        {% for playlist in channel['playlists'] %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong><a href='{{"https://www.youtube.com/playlist?list="+playlist["id"]}}' target="_blank">{{ playlist['title'] }}</a></strong>
                                <!-- Add track_flag button -->
                                <form method="POST" action="/toggle_track_flag">
                                    <input type="hidden" name="playlistId" value="{{ playlist['id'] }}">
                                    <input type="hidden" name="currentFlag" value="{{ playlist['track_flag'] }}">
                                    <button type="submit" class="btn {% if playlist['track_flag'] == 1 %}btn-primary{% else %}btn-secondary{% endif %}">
                                        {% if playlist['track_flag'] == 1 %}
                                            已追蹤
                                        {% else %}
                                            未追蹤
                                        {% endif %}
                                    </button>                                    
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 恢復滾輪位置
        if (localStorage.getItem('scrollPosition')) {
            window.scrollTo(0, localStorage.getItem('scrollPosition'));
        }
        // 監聽滾動事件，保存滾輪位置到localStorage
        window.addEventListener('scroll', function () {
            localStorage.setItem('scrollPosition', window.scrollY);
        });
    });
    
</script>
{% endblock %}
