<!-- yt_tracker_tracker_manager -->
{% extends "base.html" %}

{% block title %}YouTube Tracker Manager{% endblock %}

{% block content %}
    <h1 class="mb-4">YouTube Tracker Manager</h1>

    <form method="POST" id="InputForm">
        <div class="mb-3">
            <label for="url" class="form-label">YouTube's URL:</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="例如: https://www.youtube.com/@Ado1024/playlists">
        </div>
        <div style="display: flex; align-items: center;">
            <button type="submit" class="btn btn-primary" onclick="showLoading('InputForm', event)">匯入資料庫</button>
            <span style="margin-left: 10px; opacity: 0.3;">將輸入網址的頻道匯入資料庫中。可以從Sync Manager進行同步下載
            </span>
        </div>
    </form>
    <!-- Display DataBase -->
    <div class="mt-5">
        <h2>YouTube's Tracker</h2>
        <div class="mt-3">
            <button class="btn btn-info" id="toggleAllButton">開啟/關閉所有卡片</button>
        </div>
        {% for channel in channels %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center position-relative" data-bs-toggle="collapse" data-bs-target="#playlist{{ loop.index }}" aria-expanded="true" aria-controls="playlist{{ loop.index }}">
                    <a href="{% if channel["id"].startswith("@") %}{{"https://www.youtube.com/"+channel["id"]}}{% else %}{{ "https://www.youtube.com/channel/"+channel["id"]}}{% endif %}" style="flex: 1;" target="_blank">
                        <strong style="font-size: 2em;font-weight: bold;">{{ channel['name'] }}</strong>
                    </a>
                    <div class="col-auto">
                        <button class="btn btn-link" type="button">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                    <div class="col-auto">
                        <!-- "Track All Audio" button -->
                        <form method="POST" action="/yt_tracker_track_all_audio" class="d-flex align-items-center">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-success">追蹤全部音樂</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <!-- "Track All Videos" button -->
                        <form method="POST" action="/yt_tracker_track_all_videos" class="d-flex align-items-center">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-info">追蹤全部視頻</button>
                        </form>
                    </div>

                    <div class="col-auto">
                        <!-- "Untrack All" button -->
                        <form method="POST" action="/yt_tracker_untrack_all" class="d-flex align-items-center">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-danger">取消追蹤全部</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <!-- "Delete Channel" button -->
                        <form method="POST" action="/yt_tracker_delete_channel" class="d-flex align-items-center" onsubmit="return confirm('確定要刪除這個 Channel 嗎？');">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-warning">刪除</button>
                        </form>
                    </div>
                </div>
                
                <div class="collapse {{ 'show' if session.get('collapse_state_' + loop.index|string, 'true') == 'true' else '' }}" id="playlist{{ loop.index }}">
                    <ul class="list-group list-group-flush">
                        {% for playlist in channel['playlists'] %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong><a href='{{"https://www.youtube.com/playlist?list="+playlist["id"]}}' target="_blank">{{ playlist['title'] }}</a></strong>
                                <!-- track_flag button -->
                                <form method="POST" action="/yt_tracker_toggle_track_flag">
                                    <input type="hidden" name="playlistId" value="{{ playlist['id'] }}">
                                    <input type="hidden" name="currentFlag" value="{{ playlist['track_flag'] }}">
                                    <span style="margin-left: 10px; opacity: 0.3;">{{ playlist['title'] }}</span>
                                    <button type="submit" class="btn {% if playlist['track_flag'] == 1 %}btn-success{% elif playlist['track_flag'] == 2 %}btn-info{% else %}btn-secondary{% endif %}">
                                        {% if playlist['track_flag'] == 1 %}
                                            追蹤音樂
                                        {% elif playlist['track_flag'] == 2 %}
                                            追蹤視頻
                                        {% else %}
                                            未追蹤
                                        {% endif %}
                                    </button>                                                 
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    // 一件開啟/關閉卡片摺疊狀態
    document.addEventListener("DOMContentLoaded", function() {
        // 遍歷卡片狀態
        const collapseButtons = document.querySelectorAll('[data-bs-toggle="collapse"]');
        
        collapseButtons.forEach(button => {
            button.addEventListener('click', function() {
                const index = button.getAttribute('data-bs-target').replace('#playlist', '');
                const currentState = button.getAttribute('aria-expanded');
                
                fetch('/save_collapse_state/' + index + '/' + currentState);
            });
        });

        // 新增按鈕
        const collapseAllButton = document.createElement('button');
        collapseAllButton.textContent = 'Collapse All';
        collapseAllButton.className = 'btn btn-secondary';
        collapseAllButton.addEventListener('click', function() {

            collapseButtons.forEach(button => {
                fetch('/save_collapse_state/' + button.getAttribute('data-bs-target').replace('#playlist', '') + '/false');
            });
        });

        const contentDiv = document.querySelector('#content');
        contentDiv.insertBefore(collapseAllButton, contentDiv.firstChild);
    });
</script>

<script>
    // 卡片開關折疊
    document.addEventListener("DOMContentLoaded", function() {
        const toggleAllButton = document.getElementById('toggleAllButton');
        const collapseButtons = document.querySelectorAll('[data-bs-toggle="collapse"]');

        toggleAllButton.addEventListener('click', function() {
            collapseButtons.forEach(button => {
                const index = button.getAttribute('data-bs-target').replace('#playlist', '');
                const isCollapsed = button.getAttribute('aria-expanded') === 'false';

                // 更新卡片的狀態
                fetch('/save_collapse_state/' + index + '/' + isCollapsed);

                // 切換卡片的展開或折疊狀態
                button.setAttribute('aria-expanded', isCollapsed ? 'true' : 'false');
                const collapseElement = document.getElementById('playlist' + index);
                collapseElement.classList.toggle('show', isCollapsed);
            });
        });
    });
</script>
{% endblock %}
