<!-- yt_tracker_tracker_manager -->
{% extends "base.html" %}

{% block title %}YouTube Tracker Manager{% endblock %}

{% block content %}
    <h1 class="mb-4">YouTube Tracker Manager</h1>

    <form method="POST" id="InputForm">
        <div class="mb-3">
            <label for="url" class="form-label">YouTube's URL:</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="例如: https://www.youtube.com/@Ado1024/playlists">
        </div>
        <div style="display: flex; align-items: center;">
            <button type="submit" class="btn btn-primary" onclick="showLoading(event)">匯入資料庫</button>
            <span style="margin-left: 10px; opacity: 0.3;">將輸入網址的頻道匯入資料庫中。可以從Sync Manager進行同步下載
            </span>
        </div>
    </form>
    <!-- Display DataBase -->
    <div class="mt-5">
        <h2>YouTube's Tracker</h2>
        {% for channel in channels %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center position-relative" data-bs-toggle="collapse" data-bs-target="#playlist{{ loop.index }}" aria-expanded="true" aria-controls="playlist{{ loop.index }}">
                    <a href="{% if channel["id"].startswith("@") %}{{"https://www.youtube.com/"+channel["id"]}}{% else %}{{ "https://www.youtube.com/channel/"+channel["id"]}}{% endif %}" style="flex: 1;" target="_blank">
                        <strong style="font-size: 2em;font-weight: bold;">{{ channel['name'] }}</strong>
                    </a>
                    <div class="col-auto">
                        <button class="btn btn-link" type="button">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                    <div class="col-auto">
                        <!-- "Track All" button -->
                        <form method="POST" action="/yt_tracker_track_all" class="d-flex align-items-center">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-success">追蹤全部</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <!-- "Untrack All" button -->
                        <form method="POST" action="/yt_tracker_untrack_all" class="d-flex align-items-center">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-danger">取消追蹤全部</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <!-- "Delete Channel" button -->
                        <form method="POST" action="/yt_tracker_delete_channel" class="d-flex align-items-center" onsubmit="return confirm('確定要刪除這個 Channel 嗎？');">
                            <input type="hidden" name="channelId" value="{{ channel['id'] }}">
                            <button type="submit" class="btn btn-warning">刪除</button>
                        </form>
                    </div>
                </div>
                
                <div class="collapse show" id="playlist{{ loop.index }}">
                    <ul class="list-group list-group-flush">
                        {% for playlist in channel['playlists'] %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong><a href='{{"https://www.youtube.com/playlist?list="+playlist["id"]}}' target="_blank">{{ playlist['title'] }}</a></strong>
                                <!-- track_flag button -->
                                <form method="POST" action="/yt_tracker_toggle_track_flag">
                                    <input type="hidden" name="playlistId" value="{{ playlist['id'] }}">
                                    <input type="hidden" name="currentFlag" value="{{ playlist['track_flag'] }}">
                                    <span style="margin-left: 10px; opacity: 0.3;">{{ playlist['title'] }}</span>
                                    <button type="submit" class="btn {% if playlist['track_flag'] == 1 %}btn-primary{% else %}btn-secondary{% endif %}">
                                        {% if playlist['track_flag'] == 1 %}
                                            已追蹤
                                        {% else %}
                                            未追蹤
                                        {% endif %}
                                    </button>                                    
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
